(
    username: "chronophylos",
    token: ("2kjhlsdhf27hlkajhsd2"),
    cookiebot_channel: "thepositivebot",
    cookiebot_disabled: false,
    egbot_channel: "okayegbot",
    egbot_disabled: true,
    leavesbot: (
        disabled: false,
        channel: "teischente"
    )
)
